# the only requiremnts is running the shelfpy code in a maya python code menu or tab but to run the shelfpy code right you need to have the fkik switch indside of your maya script file it can be in a 2026 or 2024 or just maya scripts but this si the only way to do it in my knowledge 